* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}


body {
    width: 100%;
    height: 100%;
    background-color: gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-wrapper {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 2ch;
}

button {
    padding: 1ch;
}

canvas {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: black;
}

.user-input-block {
    width: 100%;
    display: flex;
}

.user-input-block__buttons button {
    flex-grow: 1;
}

#user-list {
    flex-grow: 1;
}
